<extend name="Public/body"/>
<block name="body">
    <table class="table table-bordered js_table">
        <thead>
        <tr>
            <th colspan="20" class="clearfix">
                <form action="<?= U('index'); ?>"
                      class="form-inline pull-left clearfix" method="get">
                    <input type="search" class="form-control input-sm"
                           placeholder="标题关键字" name="keywords" value="<?= $keywords ?>">
                    <?= search_time_html() ?>
                    </select> <input type="submit" class="btn btn-default btn-sm" value="搜索"/>
                </form>
                <div class="pull-right">
                    <?= get_top_btn($menu_info['id'], I('pid')) ?>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr role="row">
            <th class="text-center">内容</th>
            <th class="text-center">添加时间</th>
            <th width="38" class="text-center">操作</th>
        </tr>
        <?php
        if (!$list) {
            ?>
            <tr>
                <td colspan="80">
                    <include file="Public/nodata" text="没有数据"/>
                </td>
            </tr>
            <?php
        }
        ?>
        <?php
        foreach ($list as $row) {
            ?>
            <tr>
                <td class=" width_auto">
                    <a href="<?= U('details', array('ids' => $row['id'])) ?>">
                        <?= msubstr_tag($row['content']) ?>
                    </a>
                </td>
                <td class="text-center width_auto">
                    <?= $row['nickname']? $row['nickname'].'<br />':''?>
                    <?= $row['device_man'] . '-' . $row['device_brand'] . '-' . $row['device_model'] ?>
                    <br/>
                    <?= date_str($row['addtime']) ?>
                </td>
                <td class="text-center">
                    <?php
                    $remove['type'] = array('10' => U('edit'));
                    get_list_btn($menu_info['id'],$row,$remove);
                    ?>
                </td>
            </tr>
            <?php
        }
        ?>
        </tbody>
    </table>
    <div class="pages">
        <?= $page ?>
    </div>
</block>